<div class='center padded'>
  <div class='content padded'>
    <div class='padded'>
      <h1>No estas convencido? mira lo que he construído!</h1>
      <div class="row">
        <div class='card third'>
          <h3>Mailer App</h3>
          <p>Una aplicación que envía correos utilizando la API de Sendgrid.</p>
          <a class='orange' target='_blank' href='https://glacial-retreat-11080.herokuapp.com/'>Link Aquí</a>
        </div>
        <div class='card third'>
          <h3>Gestor de Clientes</h3>
          <p>Una aplicación para gestionar mis clientes.</p>
          <a class='orange' href='{{ url_for('static', filename='gestorClientes.exe') }}'>Link Aquí</a>
        </div>
        <div class='card third'>
          <h3>Gestor de Tareas</h3>
          <p>Una aplicación para gestionar mis tareas.</p>
          <a class='orange' href='{{ url_for('static', filename='gestorTareas.exe') }}'>Link Aquí</a>
        </div>
      </div>
    </div>
  </div>
</div>
